<ookii.jumbo>
  <networkTopology resolver="Ookii.Jumbo.Topology.PatternTopologyResolver, Ookii.Jumbo" />
  <!--
    Possible values for patternType are RegularExpression and RangeExpression.
    For RangeExpression, patterns should follow the format as outlined by the documentation
    of the Ookii.Jumbo.Topology.RangeExpression class.
  -->
  <patternTopologyResolver patternType="RegularExpression">
    <racks>
      <!--<rack id="rack1" pattern="^.*$" />-->
    </racks>
  </patternTopologyResolver>
  <log directory="./log/" />
</ookii.jumbo>