<?xml version="1.0" encoding="utf-8"?>
<ookii.jumbo.dfs>
  <!-- Note: if you change the file system port number, also modify DfsWeb/web.config and JetWeb/web.config -->
  <fileSystem url="jdfs://localhost:9000" />
  <nameServer blockSize="64MB"
              replicationFactor="1"
              imageDirectory="" />
  <dataServer port="9001"
              blockStorageDirectory="" />
</ookii.jumbo.dfs>