<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ookii.jumbo" type="Ookii.Jumbo.JumboConfiguration, Ookii.Jumbo"/>
    <section name="ookii.jumbo.jet" type="Ookii.Jumbo.Jet.JetConfiguration, Ookii.Jumbo.Jet"/>
    <section name="ookii.jumbo.dfs" type="Ookii.Jumbo.Dfs.DfsConfiguration, Ookii.Jumbo.Dfs"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <ookii.jumbo configSource="common.config"/>
  <ookii.jumbo.jet configSource="jet.config"/>
  <ookii.jumbo.dfs configSource="dfs.config"/>
</configuration>
