<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ookii.jumbo" type="Ookii.Jumbo.JumboConfiguration, Ookii.Jumbo"/>
    <section name="ookii.jumbo.dfs" type="Ookii.Jumbo.Dfs.DfsConfiguration, Ookii.Jumbo.Dfs"/>
  </configSections>

  <ookii.jumbo configSource="common.config"/>
  <ookii.jumbo.dfs configSource="dfs.config"/>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDirectory}log-DataServer-%property{LocalHostName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{ClientHostName}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{ClientHostName}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>