<?xml version="1.0" encoding="utf-8"?>
<ookii.jumbo.jet>
  <!-- Note: if you change the job server port number, also modify JetWeb/web.config -->
  <jobServer hostName="localhost"
             port="9500"
             archiveDirectory="" />
  <taskServer taskDirectory=""
              port="9501"
              taskSlots="2"
              fileServerPort="9502" />
</ookii.jumbo.jet>