<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Jumbo shell rule set." Description=" Rule set for DfsShell and JetShell." ToolsVersion="16.0">
  <Include Path="jumbo.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1812" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA2235" Action="None" />
  </Rules>
</RuleSet>